* {
  box-sizing: border-box;
}

:root {
  --background-color: rgba(11, 36, 52, 1);
  --main-background-color: rgba(245, 245, 245, 1);
  --die-color: #2b283a;
  --die-background: #ffffff;
  --btn-background: #5035ff;
}

body {
  font-family: Karla, sans-serif;
  padding: 1.25rem;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div#root {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

main {
  background-color: var(--main-background-color);
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.dice-container {
  width: 100%;
  /* height: 5.25rem; */
  display: grid;
  place-items: center;
  gap: 1.125rem;
  padding: 2.125rem;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

.dice {
  height: 36px;
  width: 36px;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

button {
  font-family: Karla, sans-serif;
  color: var(--die-color);
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--die-background);
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.roll-dice {
  padding: 1rem;
  color: var(--die-background);
  background-color: var(--btn-background);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.2rem;
}
